/* BASIC CARD */

.card-basic .text {
    padding: 10px;
    text-align: center;
}


/* OTHER CARDS */

.card-demo .mdc-card__media {
    background-image: url("/img/landscape.jpg");
}

.primary-text, .secondary-text {
    padding-left: 15px;
}

.primary-text .title {
    margin-bottom: 0;
}

.primary-text .subtitle {
    margin-top: 0;
}

.card-demo .subtitle, .card-demo .text {
    color: rgba(0,0,0,.54);
}


/* BUTTONS */

.secondary-text-button:not(:disabled) {
    color: var(--mdc-theme-secondary);
}
